<div>
    <div>
      <h2>Friends</h2>
    </div>
    <div>
      <table>
        <thead>
          <!--<tr>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>-->
        </thead>
        <tbody>
          <tr *ngFor="let friend of friends">
            <a [routerLink]="['/userPage', friend.userId]">
            <td><img src="{{friend.imageURL}}" height="100" width="100"/>  </td>
                <td><strong> {{friend.firstName}} </strong></td>
            </a>
            <td>
                <button (click)="removeFromFriend(friend.userId)"> remove </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>